 .u-section-1 {
  background-image: url("images/Toyota-bZ4X-Concept-6.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 852px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 169px 612px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.4);
  margin: 22px 517px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 412px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.25rem;
    margin-right: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 192px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    width: auto;
    margin-right: 234px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 641px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 58px auto 58px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 552px;
}

.u-section-2 .u-container-layout-1 {
  padding-right: 30px;
}

.u-section-2 .u-shape-1 {
  width: 456px;
  background-image: none;
  left: 0;
  right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 639px;
  height: 402px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 552px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-line-1 {
  width: 69px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 51px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-family: Roboto, sans-serif;
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: Roboto, sans-serif;
  margin: 20px 0 0;
}

.u-section-2 .u-line-2 {
  width: 156px;
  height: 9px;
  transform-origin: left center 0px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-2 .u-shape-1 {
    margin-bottom: initial;
  }

  .u-section-2 .u-image-1 {
    width: 513px;
    height: 359px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 455px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 312px;
    margin-bottom: initial;
  }

  .u-section-2 .u-image-1 {
    height: 299px;
    width: 348px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-2 .u-image-1 {
    width: 480px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-2 .u-shape-1 {
    width: 280px;
    margin-bottom: initial;
  }

  .u-section-2 .u-image-1 {
    height: 231px;
    width: 290px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 914px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.875rem;
  margin: 30px 375px 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  text-align: center;
  width: 390px;
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1300px;
  margin: 17px auto 60px -109px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 412px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 352px;
  height: 322px;
  margin: 17px -4px 0 auto;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.75rem;
  text-align: center;
  margin: -33px 0 0 61px;
}

.u-section-3 .u-layout-wrap-2 {
  width: 1300px;
  margin: 0 -875px -338px auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 412px;
}

.u-section-3 .u-container-layout-2 {
  padding: 7px 0;
}

.u-section-3 .u-image-2 {
  width: 341px;
  height: 224px;
  margin: 52px 2px 0 auto;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.75rem;
  text-align: center;
  margin: 23px -14px 0 75px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 412px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 412px;
  height: 301px;
  margin: 8px auto 0;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.75rem;
  text-align: center;
  margin: -3px 31px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 412px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-3 .u-image-4 {
  width: 416px;
  height: 242px;
  margin: 19px auto 0 -12px;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.75rem;
  text-align: center;
  margin: 14px 31px 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 413px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-image-5 {
  width: 453px;
  height: 368px;
  margin: -14px -30px 0 auto;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.75rem;
  text-align: center;
  margin: -49px 31px 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 412px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-3 .u-image-6 {
  width: 391px;
  height: 228px;
  margin: 26px auto 0 1px;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.75rem;
  text-align: center;
  margin: 21px 52px 0 9px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-3 .u-text-1 {
    width: 390px;
    margin-left: 275px;
    margin-right: 275px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 301px;
  }

  .u-section-3 .u-image-1 {
    width: 305px;
    height: 279px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 10px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    position: relative;
    width: 305px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-3 .u-image-2 {
    width: 313px;
    height: 205px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 289px;
  }

  .u-section-3 .u-image-3 {
    width: 313px;
    height: 228px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 69px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 289px;
  }

  .u-section-3 .u-image-4 {
    width: 313px;
    height: 182px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 301px;
  }

  .u-section-3 .u-image-5 {
    width: 313px;
    height: 254px;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 65px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 301px;
  }

  .u-section-3 .u-image-6 {
    width: 313px;
    height: 183px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 165px;
    margin-right: 165px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 232px;
    height: 212px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 232px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 240px;
    height: 157px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    width: 240px;
    height: 175px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    width: 240px;
    height: 140px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-image-5 {
    width: 240px;
    height: 195px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-image-6 {
    width: 240px;
    height: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 75px;
    margin-right: 75px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 431px;
}

.u-section-4 .u-text-1 {
  width: 787px;
  font-weight: 700;
  font-size: 3rem;
  margin: 43px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px 0 43px;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 290px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-image-1 {
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 287px;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-image-2 {
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 287px;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-image-3 {
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  min-height: 287px;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px;
}

.u-section-4 .u-image-4 {
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 287px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px;
}

.u-section-4 .u-image-5 {
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-4 .u-image-1 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-4 .u-image-2 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 237px;
  }

  .u-section-4 .u-image-3 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 237px;
  }

  .u-section-4 .u-image-4 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 237px;
  }

  .u-section-4 .u-image-5 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-4 .u-image-1 {
    height: 260px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 374px;
  }

  .u-section-4 .u-image-2 {
    height: 260px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 374px;
  }

  .u-section-4 .u-image-3 {
    height: 260px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 374px;
  }

  .u-section-4 .u-image-4 {
    height: 260px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 374px;
  }

  .u-section-4 .u-image-5 {
    height: 260px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 245px;
    width: 320px;
  }

  .u-section-4 .u-image-2 {
    height: 245px;
    width: 320px;
  }

  .u-section-4 .u-image-3 {
    height: 245px;
    width: 320px;
  }

  .u-section-4 .u-image-4 {
    height: 245px;
    width: 320px;
  }

  .u-section-4 .u-image-5 {
    height: 245px;
    width: 320px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 570px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 70px auto 70px 0;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 239px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 40px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 237px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 476px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-form-1 {
  height: 334px;
  margin: 32px -60px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 148px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 15px;
  }
}